@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --primaryColor: #192A3D;
    --secondColor: #344F66;
    --buttonGreen: #0DC040;
    --colorWhite: #FFF;
    --colorPBlue: #3a55cd;
    --colorSBlue: #233896;
}

body {
    width: 100%;
    height: 100vh;
}

.container-header {
    width: 100%;
    background-color: var(--colorWhite);
    height: 150px;
    display: flex;
    justify-content: center;
}

.container-main{
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    width: 150px;
}

nav {
    display: flex;
    align-items: center;
    column-gap: 30px;
}

nav a, i {
    color: var(--primaryColor);
    font-size: 18px;
    text-decoration: none;
    font-weight: 700;
}

/*Section Banner*/

.section-banner {
    width: 100%;
    height: 500px;
    background-position: center;
    background-size: cover;
    background-image: url(img/baner.png);
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-banner {
    width: 1200px;
    padding: 20px 0;
    color: var(--colorWhite);
}

.banner-conteudo {
    width: 600px;
}

.banner-conteudo h1 {
    font-size: 50px;
    line-height: 50px;
}

.banner-conteudo p {
    font-size: 20px;
    padding: 20px 0;
}

.btn-banner {
    width: 250px;
    padding: 15px;
    margin-right: 10px;
    font-size: 16px;
    background: var(--colorWhite);
    border: none;
    color: var(--colorWhite);
    cursor: pointer;
    border-radius: 5px;
}

.banner-conteudo .bb1 {
    background-color: var(--buttonGreen);
    border: 1px solid var(--buttonGreen);
}

.banner-conteudo .bb2 {
    background-color: transparent;
    border: 1px solid var(--colorWhite);
}


/*Section Idiomas*/
.section-idiomas {
    display: flex;
    justify-content: center;
    margin: 40px 0;
} 
.box-idiomas {
    width: 1200px;

 }

 .titulos-idiomas {
     text-align: center;
     padding: 0 200px;
    }
    
.titulos-idiomas h1 {
     color: var(--primaryColor);
     font-size: 35px;
}

.titulos-idiomas p {
    color: var(--secondColor);
    font-size: 15px;
}
 .group-idiomas {
    padding: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 }

 .card {
    width: 32%; /* Ajuste conforme necessário */
    height: 350px; /* Ajuste conforme necessário */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-bottom: 20px;
    text-align: center;
    padding: 40px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.card h1 {
    font-size: 20px;
    color: var(--primaryColor);
}

.card p {
    font-size: 15px;
    line-height: 28px;
    color: var(--secondColor);
}

.line {
    width: 35px;
    margin-bottom: 5px;
    border: 2px solid var(--primaryColor);
    border-radius: 20px;
}


.card:hover {
    background-color: #3a55cd;
    color: var(--colorWhite);
}

.card:hover h1,
.card:hover p{
    color: #fff;
}

.line:hover {
    border: 2px solid var(--colorWhite);
}

.section-btn-idiomas {
    width: 1200px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.btn-idiomas {
    width: 180px;
    font-size: 16px;
    padding: 12px;
    border: none;
    border-radius: 3px;
    color: var(--colorWhite);
    cursor: pointer;
}

.section-btn-idiomas .bb1-id:hover {
    background-color: #233896;
}

.section-btn-idiomas .bb1-id {
    background-color: #1f3cbe;
}

.section-btn-idiomas .bb2-id:hover {
    background-color: #233896;
    color: var(--colorWhite);
    border: 2px solid #233896;
}

.section-btn-idiomas .bb2-id {
    border:2px solid #3a55cd;
    color: #3a55cd;
}

/* Section Info 2*/

.section-info2 {
    display: flex;
    justify-content: center;
    background-color: #eff7fa70;
}

.box-info2 {
    width: 1200px;
    display: flex;
    padding: 50px 0;
}

.img-info2 {
    width: 600px;
}

.conteudo-info2 {
    width: 600px;
    margin-left: 60px;
}
.img-info2 img {
    width: 600px;
    border-radius: 10px;
}

.conteudo-info2 h3 {
    color: #3a55cd;
}

.conteudo-info2 h1 {
    font-size: 30px;
}

.descricao-info2 {
    display: flex;
    align-items: center;
    gap: 30px;
    background-color: #ecf1f3;
    padding: 30px;
    border-radius: 20px;
    margin-top: 15px;
}

.descricao-info2:hover {
    background-color: var(--colorWhite);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.descricao-info2 i {
    background-color: #3a55cd;
    padding: 20px;
    font-size: 30px;
    border-radius: 50%;
    color: var(--colorWhite);
}

.descricao-card-info2 h1 {
    font-size: 20px;
}